

NET i_Clock LOC = P87 | IOSTANDARD = LVCMOS33; 

NET i_Rx_Serial LOC = P22 | IOSTANDARD = LVCMOS33; 



NET square_wave LOC = P24 | IOSTANDARD = LVCMOS33;
#
#
NET pin1 LOC = P26 | IOSTANDARD = LVCMOS33; 
 
NET pin2 LOC = P27 | IOSTANDARD = LVCMOS33; 




NET o_Rx_Byte[0] loc=p16 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[1] loc=p15 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[2] loc=p12 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[3] loc=p11 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[4] loc=p9 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[5] loc=p8 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[6] loc=p6 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[7] loc=p5 | IOSTANDARD = LVCMOS33; 

NET o_Rx_Byte[8] loc = P1 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[9] loc = P2 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[10] loc = P143 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[11] loc = P144 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[12] loc = P141 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[13] loc = P142 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[14] loc = P139 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[15] loc = P140 | IOSTANDARD = LVCMOS33; 

NET o_Rx_Byte[16] loc=p137 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[17] loc=p138 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[18] loc=p133 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[19] loc=p134 | IOSTANDARD = LVCMOS33;


NET o_Rx_Byte[20] loc = p131 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[21] loc = P132 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[22] loc = p126 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[23] loc = p127 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[24] loc = P123 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[25] loc = P124 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[26] loc = P120 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[27] loc = P121 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[28] loc = P118 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[29] loc = P119 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[30] loc = P116 | IOSTANDARD = LVCMOS33;
NET o_Rx_Byte[31] loc = P117 | IOSTANDARD = LVCMOS33; 
